<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-dark">
    <h3 style="font-family: 'palatino', serif;">Files</h3>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse row justify-content-center" >
        <span class="alert alert-success" id="alert_bar" role="alert">
          Saved annotation!
        </span>
    </div>
  </nav>
</header>
<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-dark sidebar">
      <ul class="nav nav-pills flex-column">
          <% for (var key in list){%>
            <% for (var imgId in list[key].arr){%>
        <li class="nav-item">
          <a style="color:white;border-color:white;font-family:times;font-size:20px" href="#" class="nav-link " data-path="<%=list[key].arr[imgId]%>"><%=list[key].arr[imgId]%></a>
        </li>
            <%}%>
          <%}%>
      </ul>
    </nav>
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-5">
      <h1 style="color: white; font-family: 'palatino', serif; font-size: 45px; font-weight: normal; line-height: 48px;">
        View-Classification Annotation Dashboard
      </h1>
	<div class="container row justify-content-center" style="display:inline"><img src="20Views.png" alt="View Classes" style="max-height:71%;max-width:71%"> </div>

<div class="container row justify-content-center">

	<div id="container" class="justify-content-center">
&nbsp;&nbsp;&nbsp;
	<div id ="container">
 	<div><input type="radio" name="pred_label" value="V1" id="V1"> <label for="V1" style="margin-right:10px"></label><font color="white"></font></div>
	<div><input type="radio" name="pred_label" value="V2" id="V2"> <label for="V2"  style="margin-right:10px"></label><font color="white"></font></div>
	<div><input type="radio" name="pred_label" value="V3" id="V3"> <label for="V3"  style="margin-right:16px"></label><font color="white"></font></div>
	</div>

	<div id ="container">	
	<div><input type="radio" name="pred_label" value="V4" id="V4"> <label for="V4"  style="margin-right:10px"></label><font color="white"> </font></div>
	<div><input type="radio" name="pred_label" value="V5" id="V5"> <label for="V5"  style="margin-right:10px"></label><font color="white"> </font></div>
	<div><input type="radio" name="pred_label" value="V6" id="V6"> <label for="V6"  style="margin-right:10px"></label><font color="white"> </font></div>
	<div><input type="radio" name="pred_label" value="V7" id="V7"> <label for="V7"  style="margin-right:10px"></label><font color="white"> </font></div>
	<div><input type="radio" name="pred_label" value="V8" id="V8"> <label for="V8"  style="margin-right:16px"></label><font color="white"> </font></div>
	</div>

	<div id ="container">	
	<div><input type="radio" name="pred_label" value="V9" id="V9"> <label for="V9"  style="margin-right:10px"></label><font color="white"> </font></div>
	<div><input type="radio" name="pred_label" value="V10" id="V10"> <label for="V10"   style="margin-right:10px"></label><font color="white"> </font></div>
	<div><input type="radio" name="pred_label" value="V11" id="V11"> <label for="V11"  style="margin-right:10px"></label><font color="white"> </font></div>
	<div><input type="radio" name="pred_label" value="V12" id="V12"> <label for="V12"  style="margin-right:16px"></label><font color="white"> </font></div>
	</div>

	<div id ="container">	
	<div><input type="radio" name="pred_label" value="V13" id="V13"> <label for="V13"  style="margin-right:10px"></label><font color="white"> </font></div>
	<div><input type="radio" name="pred_label" value="V14" id="V14"> <label for="V14"  style="margin-right:16px"></label><font color="white"> </font></div>
	</div>

	<div id ="container">	
	<div><input type="radio" name="pred_label" value="V15" id="V15"> <label for="V15"  style="margin-right:16px"></label><font color="white"> </font></div>
	</div>

	<div id ="container">	
	<div><input type="radio" name="pred_label" value="V16" id="V16"> <label for="V16"  style="margin-right:16px"></label><font color="white"> </font></div>
	</div>

	<div id ="container">	
	<div><input type="radio" name="pred_label" value="V17" id="V17"> <label for="V17"  style="margin-right:10px"></label><font color="white"> </font></div>
	<div><input type="radio" name="pred_label" value="V18" id="V18"> <label for="V18"  style="margin-right:16px"></label><font color="white"> </font></div>
	</div>

	<div id ="container">	
	<div><input type="radio" name="pred_label" value="V19" id="V19"> <label for="V19"  style="margin-right:16px"></label><font color="white"> </font></div>
	</div>

	<div id ="container">	
	<div><input type="radio" name="pred_label" value="V20" id="V20"> <label for="V20"  style="margin-right:10px"></label><font color="white"> </font></div>
	</div>

	</div>
	<div class="container row justify-content-center" ><img src="#" class="" id="cmpr" alt="" vspace="20px" style="max-height:300px;max-width:100%"> </div>
<div >

<a class="previous">&laquo; Previous</a>
<a class="next">Next &raquo;</a></div>

</div>

    </main>
  </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/dataset/pred_label.js"></script>
<script>

    $('#alert_bar').show();
    path = ""
	current_elem = $(".nav-item a")[0].parentNode
    $(".nav-item a").click(function(elem){
        path = $(this).data('path');
        current_elem = $(this)[0].parentNode
        $('#cmpr').attr("src","/dataset/"+path);
        pred_id = pred_labels[path]
        $("#"+pred_id).prop('checked', 'checked');
    })
	$("a.next").click(function(elem){
		current_elem = $(current_elem).nextAll('li').first()[0]
		if(current_elem == undefined){
            alert("End of this list. Please reselect the item you want to review.")
            return;
        }
        path = $(current_elem).children().data('path');
        $('#cmpr').attr("src","/dataset/"+path);
        pred_id = pred_labels[path]
        $("#"+pred_id).prop('checked', 'checked');
	})

    $("a.previous").click(function(elem){
        current_elem = $(current_elem).prevAll('li').first()[0]
		if(current_elem == undefined){
            alert("End of this list. Please reselect the item you want to review.")
			return;
		}
        path = $(current_elem).children().data('path');
        console.debug(path)
        $('#cmpr').attr("src","/dataset/"+path);
        pred_id = pred_labels[path]
        $("#"+pred_id).prop('checked', 'checked');
    })


    $("input[name='pred_label']").change(function(_this){
        $.get({
            url:"/section?id="+_this.target.id+"&path="+path
        }).done(function () {
            $('#alert_bar').show()
        })
    })


    var startId = [];
    $('#start').click(function(){
        startId.push(id);

    })

    var endId = [];
    $('#end').click(function(){
        if(startId.length == endId.length){
            endId.pop();
        }
        endId.push(id);
        $.get({
            url:"/section?path="+encodeURIComponent(path)+"&s="+startId.join(',')+"&e="+endId.join(',')+"&bf="+bifur.join(',')+"&s_stent="+startStent.join(',')+"&e_stent="+endStent.join(',')
        }).done(function () {
            $('#alert_bar').show()
        })
    })

    var startStent = [];
    $('#sb').click(function(){
        startStent.push(id);

    })

    var endStent = [];
    $('#se').click(function(){
        if(startStent.length == endStent.length){
            endStent.pop();
        }
        endStent.push(id);
        $.get({
            url:"/section?path="+encodeURIComponent(path)+"&s="+startId.join(',')+"&e="+endId.join(',')+"&bf="+bifur.join(',')+"&s_stent="+startStent.join(',')+"&e_stent="+endStent.join(',')
        }).done(function () {
            $('#alert_bar').show()
        })
    })

    var bifur = [];

    $('#bf').click(function(){
        bifur.push(id);
        $.get({
            url:"/section?path="+encodeURIComponent(path)+"&s="+startId.join(',')+"&e="+endId.join(',')+"&bf="+bifur.join(',')+"&s_stent="+startStent.join(',')+"&e_stent="+endStent.join(',')
        }).done(function () {
            $('#alert_bar').show()
        })
    })

</script>
</body>


</html>
