a*, *:before, *:after {
  box-sizing: border-box;
}
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  background-image:url("background.jpg"); 
}

/*
 * Typography
 */

h1 {
  padding-bottom: 9px;
  margin-bottom: 1px;
  border-bottom: 1px solid white;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 50px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 100;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
#end,#start,#bf,#sb,#se{
  font-size:30px;
}
#idx{
  font-size:20px;
}

.marked{
  color: gray;
}
#alert_bar{
  position: absolute;
}

.container_cmpr{
  margin-top:10px;
}

label{
  padding:0 10px;
}


body {
  padding: 1rem;
  color: #797e86;
}

h1 {
  color: #18191b;
  margin-bottom: 2rem;
}
h3 {
  color: white;
}

section {
  display: flex;
  flex-flow: row wrap;
}

section > div {
  flex: 0;
  padding: 0.5rem;
}

#container > div
{
    display: inline;
/*   border: solid 1px #000;*/
}
#container
{
   /* border: solid 1px #ff0000;*/
    /*text-align: center;*/
    /*margin: 50px auto;*/
    width: 100%;
}

input[type='radio'] {
    transform: scale(2);
}

a {background:black;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
border-style:outset
}

a:hover {
    background-color: blue;
    color: white;
}


